.game_wrapper {
  margin: 50px auto;
  height: 570px;
  width: 500px;
  border-radius: 30px;
  padding: 40px;
  background-color: #ffffff98;
  position: relative;
  &:before,
  &:after {
    content: "";
    display: block;
    height: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &:before {
    width: 95%;
    bottom: -10px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 0;
  }

  &:after {
    width: 90%;
    bottom: -20px;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: 1;
  }
  h2 {
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
  }
  ul {
    margin-top: 40px;
    li {
      padding: 15px;
      border: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 15px;
      margin-bottom: 10px;
      background-color: #fff;
      cursor: pointer;
      transition: all 0.1s ease-in-out;
      font-weight: bold;

      &:hover {
        border: 2px solid rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.wrapper_progress {
  height: 10px;
  width: 95%;
  margin: 30px auto;
  border-radius: 30px;
  background-color: rgb(232, 232, 232);
  .progress {
    height: 100%;
    border-radius: 30px;
    width: 80%;
    background: rgb(18, 231, 48);
    transition: all 0.3s ease-in-out;
    background: linear-gradient(
      90deg,
      rgba(18, 231, 48, 1) 0%,
      rgba(0, 212, 255, 1) 100%
    );
  }
}

@media (max-width: 700px) {
  .game_wrapper {
    width: 350px;
    padding: 5px;
    height: 530px;
    margin: 20px auto;
    h2 {
      width: 330px;
    }
    ul {
      li {
        width: 330px;
        &:hover {
          background-color: #ffffff;
        }
      }
    }
  }
}
