.game_wrapper {
  height: 500px;
  h2 {
    font-size: 30px;
    margin: 20px auto;
    text-align: center;
    background-color: aliceblue;
    border-radius: 10px;
    padding: 5px 0;
    width: 600px;
  }
  ul {
    margin-top: 40px;
    li {
      width: 600px;
      margin: 10px auto;
      border: 5px solid rgba(154, 38, 38, 0.375);
      background-color: #ffffff;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      cursor: pointer;
      font-size: 24px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        background-color: #47d623;
      }
    }
  }
}

.wrapper_progress {
  .progress {
    transition: width 0.5s ease-in-out;
    background-color: #65f527;
    border-radius: 20px;
    width: 0;
    height: 20px;
    margin-top: 30px;
  }
}

@media (max-width: 630px) {
  .game_wrapper {
    h2 {
      width: 350px;
    }
    ul {
      li {
        width: 350px;
      }
    }
  }
}
